
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Детали кота</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ cat.name }}</h1>
    <ul>
        <li>Порода: {{ cat.breed }}</li>
        <li>Возраст: {{ cat.age_months }} месяцев</li>
        <li>Описание: {{ cat.description }}</li>
    </ul>
    <img src="{{ cat.image_url }}" alt="Изображение {{ cat.name }}">
    <br>
    <a href="{{ url_for('main.index') }}">Вернуться к списку</a>
</body>
</html>
