
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список котов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Список котов</h1>
    <form method="get" action="{{ url_for('main.index') }}">
        <input type="text" name="search" placeholder="Поиск" value="{{ request.args.get('search', '') }}">
        <select name="sort_by">
            <option value="name">Имя</option>
            <option value="breed">Порода</option>
            <option value="age">Возраст</option>
            <option value="relevance">Релевантность</option>
        </select>
        <button type="submit">Сортировать</button>
    </form>
    <ul>
        {% for cat in cats.items %}
            <li><a href="{{ url_for('main.cat_detail', cat_id=cat.id) }}">{{ cat.name }}</a> - {{ cat.breed }} - {{ cat.age_months }} месяцев</li>
        {% endfor %}
    </ul>
    <div>
        {% if cats.has_prev %}
            <a href="{{ url_for('main.index', page=cats.prev_num, search=request.args.get('search', ''), sort_by=request.args.get('sort_by', 'name')) }}">Предыдущая</a>
        {% endif %}
        {% if cats.has_next %}
            <a href="{{ url_for('main.index', page=cats.next_num, search=request.args.get('search', ''), sort_by=request.args.get('sort_by', 'name')) }}">Следующая</a>
        {% endif %}
    </div>
</body>
</html>
